# Dependabot configuration for automated dependency updates
# See: https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
# See the following for an explanation of our policy: https://docs.google.com/document/d/1IEy2LX1_ZSVYTZkAaL9P0IePm2huslViU7BC89KY_Lw/edit?pli=1&tab=t.0#heading=h.8bk70r4h3u7q

version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
    allow:
      - dependency-type: all
    cooldown:
      default-days: 30
    groups:
      security-updates:
        applies-to: security-updates
        patterns:
          - '*'
      version-updates:
        applies-to: version-updates
        patterns:
          - '*'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
    allow:
      - dependency-type: all
    cooldown:
      default-days: 30
    groups:
      security-updates:
        applies-to: security-updates
        patterns:
          - '*'
      version-updates:
        applies-to: version-updates
        patterns:
          - '*'
