{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "prettier",
    "lodash-fp"
  ],
  "extends": [
    "prettier",
    "plugin:lodash-fp/recommended"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
