{
	"arrowParens": "avoid",
	"singleQuote": true,
	"semi": true,
	"importOrder": [
		"^tests/utils$",
		"^react.*$",
		"<THIRD_PARTY_MODULES>",
		"^@mui/(.*)$",
		"^assets/(.*)$",
		"^(common|forms|layout|localization|monitoring|navigation|notifications|permissions|state)/(.*)$",
		"^(account|contact|gis|group|home|landscape|terrasoBackend|tool|user)/(.*)$",
		"^(config|custom-hooks|react-hoc)$",
		"^[./]",
		"^theme$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
