{
	"arrowParens": "avoid",
	"singleQuote": true,
	"semi": true,
	"importOrder": [
		"^terraso-web-client/tests/utils$",
		"^react$",
		"<THIRD_PARTY_MODULES>",
		"^@mui/(.*)$",
		"",
		"^terraso-web-client/(custom-hooks|react-hoc|timeUtils|utils)$",
		"",
		"^terraso-web-client/(collaboration|common|forms|layout|localization|monitoring|navigation|notifications|permissions|state)/(.*)$",
		"^terraso-web-client/(account|contact|gis|group|home|landscape|sharedData|storyMap|taxonomies|terrasoBackend|tool|user)/(.*)$",
		"",
		"^terraso-web-client/config$",
		"",
		"^terraso-web-client/assets/(.*)$",
		"^terraso-web-client/theme$"
	],
	"trailingComma": "es5",
	"plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
