ENV=development
REACT_APP_TERRASO_API_URL=http://127.0.0.1:8000
REACT_APP_PLAUSIBLE_DOMAIN=app.local.terraso.org
REACT_APP_MAPBOX_ACCESS_TOKEN=
REACT_APP_SENTRY_DSN=https://xyz@o4506299756642304.ingest.sentry.io/abcd
SENTRY_AUTH_TOKEN=sntrys_eyxxxxxxxxxxx
REACT_APP_SENTRY_ENABLED=false
