/*
 * Copyright © 2021-2023 Technology Matters
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see https://www.gnu.org/licenses/.
 */

.leaflet-draw-marker-icon {
  background: none;
  border: none;
}

.visualization-marker-popup .leaflet-popup-content-wrapper {
  background: #666666;
  font-size: 16px;
  line-height: 24px;
  border-radius: 3px;
  border: 1px solid #666666;
  box-shadow: none;
  color: white;
}
.visualization-marker-popup .leaflet-popup-tip {
  border: 1px solid #666666;
  background-color: #666666;
  box-shadow: none;
}

.visualization-marker-popup p {
  margin: 0;
}

.visualization-marker-popup .leaflet-popup-scrolled {
  border: none;
  margin: 0;
  overflow: scroll;
}

.visualization-marker-popup .leaflet-popup-content-wrapper {
  padding: 0;
}

.visualization-marker-popup .leaflet-popup-content {
  margin: 5px;
}
