@import '~leaflet/dist/leaflet.css';

.leaflet-control-geosearch .glass,
.leaflet-control-geosearch .results > * {
  font-size: 15px;
}

.leaflet-control-geosearch.leaflet-geosearch-bar {
  margin: 10px;
  left: 45px;
}

.leaflet-touch .leaflet-geosearch-bar form {
  width: 130%;
}

.leaflet-draw.leaflet-control {
  left: 410px;
}

.leaflet-touch .leaflet-draw.leaflet-control {
  right: 0;
  left: inherit;
}

.leaflet-draw.leaflet-control .leaflet-draw-draw-marker {
  background-size: 900px 45px;
  background-position: -413px;
}

@media screen and (max-width: 600px) {
    .leaflet-geosearch-bar {
        width: 65%;
    }
}
