@import '~leaflet/dist/leaflet.css';

.leaflet-control-container .leaflet-control-geosearch form input {
  font-size: 15px;
  height: 30px;
  min-width: 150px;
}

@media screen and (min-width: 768px) {
  .leaflet-control-container .leaflet-control-geosearch form input {
    min-width: 300px;
  }
}

.leaflet-control-geosearch {
  position: absolute;
  left: 60px;
}

.leaflet-control-geosearch .results > * {
  font-size: 15px;
}
