@import '~leaflet/dist/leaflet.css';

.leaflet-control-geosearch .glass,
.leaflet-control-geosearch .results > * {
  font-size: 15px;
}

.leaflet-control-geosearch.leaflet-geosearch-bar {
  margin: 10px;
  left: 45px;
}

.leaflet-touch .leaflet-geosearch-bar form {
  width: 130%;
}

.leaflet-draw.leaflet-control {
  left: 410px;
}

.leaflet-touch .leaflet-draw.leaflet-control {
  right: 0;
  left: inherit;
}

.leaflet-draw.leaflet-control .leaflet-draw-draw-marker {
  background-size: 900px 45px;
  background-position: -413px;
}

@media screen and (max-width: 600px) {
  .leaflet-geosearch-bar {
    width: 65%;
  }
}

.leaflet-marker-icon.leaflet-interactive {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14'><circle cx='7' cy='7' r='5' stroke='white' stroke-width='2' fill='%23055989' /></svg>")
    no-repeat;
  border: none;
}

.leaflet-draw-actions a {
  color: #fff;
}
