/*
 * Copyright © 2021-2023 Technology Matters
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see https://www.gnu.org/licenses/.
 */

@import '~leaflet/dist/leaflet.css';

.leaflet-control-geosearch .glass,
.leaflet-control-geosearch .results > * {
  font-size: 15px;
}

.leaflet-control-geosearch.leaflet-geosearch-bar {
  margin: 10px;
  left: 45px;
}

.leaflet-touch .leaflet-geosearch-bar form {
  width: 130%;
}

.leaflet-draw.leaflet-control {
  left: 410px;
}

.leaflet-touch .leaflet-draw.leaflet-control {
  right: 0;
  left: inherit;
}

.leaflet-draw.leaflet-control .leaflet-draw-draw-marker {
  background-size: 900px 45px;
  background-position: -413px;
}

@media screen and (max-width: 600px) {
  .leaflet-geosearch-bar {
    width: 65%;
  }
}

.leaflet-draw-marker-icon.leaflet-marker-icon.leaflet-interactive {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14'><circle cx='7' cy='7' r='5' stroke='white' stroke-width='2' fill='%23055989' /></svg>")
    no-repeat;
  border: none;
}

.leaflet-draw-actions a {
  color: #fff;
}

.leaflet-disabled {
  opacity: 0.6;
}
