.landscape-list-map-cluster-icon div {
  background-clip: padding-box;
  background-color: #985329;
  width: 30px;
  height: 25px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  padding-top: 5px;
  color: #fff;
}

.landscape-list-map-cluster-icon {
  background-clip: padding-box;
  background-color: #98532999;
  border-radius: 20px;
}

.landscape-list-map-marker-icon {
  background-clip: padding-box;
  background-color: #985329;
  border-radius: 30px;
}
