.header-container {
  z-index: 2;
  background-color: #f9f9f9;
}
footer {
  z-index: 2;
}

#map {
  position: fixed;
}
#mapInset {
  bottom: 50px;
  right: 30px;
  height: 180px;
  width: 250px;
  max-width: 100%;
  position: fixed;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}
#mapInset .mapboxgl-ctrl-bottom-left {
  display: none;
}
@media (max-width: 500px) {
  #mapInset {
    display: none;
  }
}
#header h1,
#header h2,
#header p {
  margin: 0;
  padding: 2vh 2vw;
  text-align: center;
}
#footer {
  width: 100%;
  min-height: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
  position: relative;
  z-index: 5;
}
#features {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.hidden {
  visibility: hidden;
}
.centered {
  justify-content: center;
}
.lefty {
  justify-content: flex-start;
  padding-left: 20px;
}
.righty {
  justify-content: flex-end;
  padding-right: 20px;
}
.fully {
  justify-content: stretch;
}
.light {
  color: #444;
  background-color: #fafafa;
}
.dark {
  color: #fafafa;
  background-color: #444;
}
.step {
  padding-top: 15vh;
  padding-bottom: 35vh;
  opacity: 0.25;
  display: flex;
}
.step.active {
  opacity: 0.9;
}

.step.title {
  padding-top: 5vh;
}

.step .step-content {
  padding: 25px 50px;
  line-height: 25px;
  font-size: 13px;
  max-width: 50%;
  min-width: 300px;
}
.step.fully .step-content {
  width: 100%;
  max-width: 100%;
}

.step img {
  width: 100%;
}

@media (max-width: 750px) {
  .centered,
  .lefty,
  .righty,
  .fully {
    width: 90vw;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .step .step-content {
    max-width: 100%;
  }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan
  .mapboxgl-canvas {
  touch-action: unset;
}
