name: localization

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  missing-keys:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run missing keys check
        run: npm run localization-check-missing
